In [1]:
%load_ext watermark
%watermark

2020-11-08T00:00:56+01:00

CPython 3.7.1
IPython 7.18.1

compiler   : MSC v.1915 64 bit (AMD64)
system     : Windows
release    : 10
machine    : AMD64
processor  : AMD64 Family 23 Model 17 Stepping 0, AuthenticAMD
CPU cores  : 8
interpreter: 64bit

In [45]:
# Import pandas under the alias pd
import pandas as pd
# es importante tenerlo en la misma carpeta o saber la ubicaci√≥n del archivo
# Load the CSV "credit_records.csv"
# tuvimos que agregar sep y los nombres
credit_records = pd.read_csv('credit_records.csv', sep = ';',names=['Index','Suspect', 'location', 'Date', 'Item', 'price'])

In [46]:
# Display the first five rows of credit_records using the .head() method
print(credit_records)
credit_records.shape

    Index               Suspect         location         Date          Item  \
0       0        Kirstine Smith   Groceries R Us   January 6,      broccoli
1       1          Gertrude Cox  Petroleum Plaza   January 6,   fizzy drink
2       2      Fred Frequentist   Groceries R Us   January 6,      broccoli
3       3          Gertrude Cox   Groceries R Us  January 12,      broccoli
4       4        Kirstine Smith    Clothing Club   January 9,         shirt
5       5          Gertrude Cox      Burger Mart  January 10,        burger
6       6      Fred Frequentist      Burger Mart   January 6,         fries
7       7  Ronald Aylmer Fisher    Clothing Club   January 8,         pants
8       8  Ronald Aylmer Fisher    Clothing Club  January 13,         shirt
9       9        Kirstine Smith    Clothing Club   January 1,         shirt
10     10        Kirstine Smith    Clothing Club   January 7,         pants
11     11          Gertrude Cox  Petroleum Plaza  January 14,   fizzy drink
12     12  Ronald Aylmer Fisher  Petroleum Plaza  January 10,       carwash
13     13      Fred Frequentist      Burger Mart   January 7,  cheeseburger
14     14          Gertrude Cox    Clothing Club   January 5,         pants
15     15          Gertrude Cox      Burger Mart   January 2,  cheeseburger
16     16          Gertrude Cox   Groceries R Us  January 11,      broccoli
17     17        Kirstine Smith  Petroleum Plaza  January 12,       carwash
18     18          Gertrude Cox  Petroleum Plaza  January 13,   fizzy drink
19     19      Fred Frequentist    Clothing Club   January 8,         shirt
20     20        Kirstine Smith  Petroleum Plaza  January 12,   fizzy drink
21     21      Fred Frequentist  Petroleum Plaza   January 8,       carwash
22     22  Ronald Aylmer Fisher   Groceries R Us  January 13,          eggs
23     23          Gertrude Cox      Burger Mart   January 9,        burger
24     24          Gertrude Cox      Burger Mart  January 14,  cheeseburger
25     25        Kirstine Smith   Groceries R Us   January 2,        cheese
26     26  Ronald Aylmer Fisher      Burger Mart   January 8,         fries
27     27          Gertrude Cox   Groceries R Us   January 8,        cheese
28     28      Fred Frequentist    Clothing Club   January 3,         dress
29     29        Kirstine Smith    Clothing Club   January 5,         dress
30     74      Fred Frequentist   Groceries R Us  January 11,        cheese
31     75          Gertrude Cox   Groceries R Us  January 14,          milk
32     76          Gertrude Cox    Clothing Club  January 10,         dress
33     77      Fred Frequentist      Burger Mart   January 8,  cheeseburger
34     78        Kirstine Smith    Clothing Club   January 7,         shirt
35     79        Kirstine Smith    Clothing Club  January 13,         pants
36     80  Ronald Aylmer Fisher    Clothing Club  January 13,         pants
37     81          Gertrude Cox   Groceries R Us  January 13,      broccoli
38     82  Ronald Aylmer Fisher    Clothing Club   January 6,         shirt
39     83  Ronald Aylmer Fisher      Burger Mart   January 2,         fries
40     84          Gertrude Cox    Clothing Club   January 5,         dress
41     85  Ronald Aylmer Fisher    Clothing Club   January 3,         pants
42     86      Fred Frequentist   Groceries R Us   January 3,          milk
43     87          Gertrude Cox  Petroleum Plaza   January 8,           gas
44     88  Ronald Aylmer Fisher      Burger Mart   January 8,         fries
45     89          Gertrude Cox  Petroleum Plaza   January 8,           gas
46     90      Fred Frequentist      Burger Mart   January 1,         fries
47     91          Gertrude Cox      Burger Mart   January 7,        burger
48     92      Fred Frequentist    Clothing Club   January 2,         pants
49     93  Ronald Aylmer Fisher   Groceries R Us  January 10,          milk
50     94  Ronald Aylmer Fisher  Petroleum Plaza   January 9,   fizzy drink
51     95        Kirstine Smith      Burger Mart   January 5,  cheeseburger
52     96          Gertrude Cox   Groceries R Us   January 8,     cucumbers
53     97          Gertrude Cox  Petroleum Plaza   January 8,   fizzy drink
54     98  Ronald Aylmer Fisher    Clothing Club  January 12,         pants
55     99          Gertrude Cox    Clothing Club   January 7,         shirt
56    100      Fred Frequentist    Clothing Club   January 4,         pants
57    101          Gertrude Cox    Clothing Club   January 9,         dress
58    102        Kirstine Smith      Burger Mart  January 14,        burger
59    103  Ronald Aylmer Fisher   Groceries R Us  January 11,     cucumbers

    price
0    1.25
1    1.90
2    1.25
3    1.25
4   14.25
5    3.95
6    1.95
7   12.05
8   14.25
9   14.25
10  12.05
11   1.90
12  13.25
13   4.95
14  12.05
15   4.95
16   1.25
17  13.25
18   1.90
19  14.25
20   1.90
21  13.25
22   6.50
23   3.95
24   4.95
25   5.00
26   1.95
27   5.00
28  20.15
29  20.15
30   5.00
31   4.25
32  20.15
33   4.95
34  14.25
35  12.05
36  12.05
37   1.25
38  14.25
39   1.95
40  20.15
41  12.05
42   4.25
43  24.95
44   1.95
45  24.95
46   1.95
47   3.95
48  12.05
49   4.25
50   1.90
51   4.95
52   2.05
53   1.90
54  12.05
55  14.25
56  12.05
57  20.15
58   3.95
59   2.05

(60, 6)

In [29]:
#Use .info() to inspect the DataFrame credit_records
print(credit_records.info())

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 0;Kirstine Smith;Groceries R Us;January 6 to 103;Ronald Aylmer Fisher;Groceries R Us;January 11
Data columns (total 1 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   ;"		suspect        "; location;date         ; item;price  60 non-null     object
dtypes: object(1)
memory usage: 976.0+ bytes
None

In [51]:
# Select the column item from credit_records
# solo items
# Use brackets and string notation
items = credit_records["Item"]

# Display the results
print(items.head())

0       broccoli
1    fizzy drink
2       broccoli
3       broccoli
4          shirt
Name: Item, dtype: object

In [50]:

# Select the location column in credit_records
location = credit_records["location"]

# Select the item column in credit_records
items = credit_records.Item

# Display results
print(location.head())

0     Groceries R Us
1    Petroleum Plaza
2     Groceries R Us
3     Groceries R Us
4      Clothing Club
Name: location, dtype: object

In [55]:
# seleecionar una col =date
# tener cuidado con las comillas y como se escriben
fecha = credit_records['Date']
fecha.head()

0     January 6,
1     January 6,
2     January 6,
3    January 12,
4     January 9,
Name: Date, dtype: object

In [57]:
# los precios mayores de 22
# debemos de poner primero la base de datos
print(credit_records.price > 22)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43     True
44    False
45     True
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
Name: price, dtype: bool

In [60]:
# vamos a ver una variable que tenga este nombre
# sera bool nos dara true
print(credit_records.price == 'Clothing Club')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
Name: price, dtype: bool